@import url("./global.css");
@import url("./components/palette.css");
@import url("./components/header.css");
@import url("./components/sidebar.css");
@import url("./components/card_notes.css");
@import url("./components/edit_form.css");
