body {
  background-color: #000;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  gap: 47px;
  border-bottom: 1px solid #fff;
  padding-left: 30px;
  position: fixed;
  width: 100%;
}

.logo-img {
  width: 102px;
  height: 21px;
}

.header-text__container {
  width: 100%;
}

.text-header {
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.higher-section {
  display: flex;
  padding-top: 53px;
}

.aside {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-right: 1px solid #fff;
  position: fixed;
  width: 150px;
  height: 100%;
  padding-left: 20px;
}

.aside-link {
  text-decoration: none;
  color: #fff;
  display: flex;
  gap: 20px;
}

.main {
  margin-left: 170px;

  z-index: -1;
}
