:root {
  --red-100: #f28b82;
  --yellow-100: #fff475;
  --yellow-200: #fbbc04;
  --green-100: #ccff90;
  --cyan-100: #a7ffeb;
  --blue-100: #cbf0f8;
  --blue-200: #aecbfa;
  --pink-100: #fdcfe8;
  --purple-200: #d7aefb;
  --gray-100: #d1d1d1;
  --gray-200: #999b9e;
  --gray-300: #1d2128;

  --white-transparent: #ffffff80;
  --gray-transparent: #999b9e80;

  --shadow-sm: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --shadow-white: 5px 5px 15px 0px #999B9ED9;
}
