body {
  background-color: var(--gray-300);
}

.higher-section {
  display: flex;
}

/* provisional */

.form {
  width: 600px;
  height: 150px;
  border-radius: 8px;
  background-color: #fff;
}

.card {
  width: 260px;
  height: 260px;
  border-radius: 8px;
  background-color: #fff;
}

.main {
  padding: 23px 30px;
  width: calc(100vw - 280px);
  /* height: calc(100vh - 70px); */
  position: absolute;
  top: 70px;
  left: 280px;
  z-index: 2;
  display: flex;
  gap: 59px;
  flex-direction: column;
  align-items: center;
}

.card-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.pin-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

@media (max-width: 880px) {
  .main {
    width: calc(100vw - 70px);
    left: 70px;
  }
}
