.header {
  display: flex;
  align-items: center;
  gap: 117px;
  border-bottom: 1px solid #fff;
  padding-left: 30px;
  position: fixed;
  width: 100%;
  background-color: #111;
  height: 52px;
}

.logo-img {
  width: 138px;
  height: 24px;
}

.header-text__container {
  width: 100%;
}
