.palette__container {
  height: 65px;
  width: 155px;
  border-radius: 8px;
  padding: 5px;
  background-color: white;
  box-shadow: var(--shadow-sm);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.palette__color {
  width: 25px;
  height: 25px;
  border-radius: 100px;
}

.palette__color:hover {
  border: 0.5px solid var(--gray-200);
}

.card-palette {
  margin-bottom: 120px;
  /* margin-right: 120px; */
}
